<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <form action="/note" method="post" enctype="application/json">
      <input type="text" name="note" placeholder="Notes"/>
      <select name="classifier"> 
        <option value="light" selected>Light</option> 
        <option value="moderate">Moderate</option>
        <option value="severe">Severe</option>
        <option value="important">Important</option>
      </select>
      <button type="submit">Submit</button>
    </form>

    <form action="/note" method="get">
      <input type="submit" value="Display notes">
    </form>

    <form action="/food" method = "get">
      <input type="submit" name="food_log" value="Get Food Log" />
    </form>

    {% if response %}
      <p>{{response}}</p>
    {% endif %}

    <ul style="list-style: none;">
    {% for note in notes %}
      <li style="margin: 0.75em;">{{note.created_date.strftime('%b %d - %I:%M %Z')}} Note: {{note.text}} ({{note.classifier.value}})</li>
    {% endfor %}
    </ul>

    {{food}}

  </body>
</html>
