<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <form action="/note" method="post" enctype="application/json">
      <input type="text" name="note" placeholder="Notes"/>
      <select name="classifier"> 
        <option value="light" selected>Light</option> 
        <option value="moderate">Moderate</option>
        <option value="severe">Severe</option>
        <option value="important">Important</option>
      </select>
      <button type="submit">Submit</button>
    </form>

    {% if response %}
      <p>{{response}}</p>
    {% endif %}

    <div style="display: flex;">
      <div style="flex: 1;">
          {% if food %}
            <h3>{{food.date.strftime('%b %d')}}</h3> 
            <ul style="list-style: none;">
              {% for food_log in food.food_logs %}
                <li style="margin: 0.75em;">{{food_log.date.strftime('%I:%M%p')}}: {{food_log.name}} <span style="font-size: 50%;float: right;">({{food_log.calories}} calories, {{food_log.unit['amount']}}{{food_log.unit['plural']}})</span></li>
              {% endfor %}
            </ul>
            <h2>Summary</h2>
            <ul style="list-style: none;width: 50%"> 
              <li>Fat: <span style="float:right;">{{food.summary['fat']|round}}g</span></li>
              <li>Protein: <span style="float:right;">{{food.summary['protein']|round}}g</span></li>
              <li>Carbs: <span style="float:right;">{{food.summary['carbs']|round}}g</span></li>
              <li>Fiber: <span style="float:right;">{{food.summary['fiber']|round}}g</span></li>
              <li>Sodium: <span style="float:right;">{{food.summary['sodium']|round}}mg</span></li>
              <li>Calories: <span style="float:right;">{{food.summary['calories']|round}}</span></li>
            </ul>
          {% endif %}
      </div>

      <div style="flex: 0 0 65%;">
        {% if notes %}
          <ul style="list-style: none;">
            {% for note in notes %}
              {% if note.classifier.value == "Moderate" %}
                {% set style="color: orange;"%}
              {% elif note.classifier.value == "Severe" %}
                {% set style="color: red;"%}
              {% elif note.classifier.value == "Important" %}
                {% set style="color: blue;"%}
              {% else %}
                {% set style="" %}
              {% endif %}
              <li style="margin: 0.75em;">{{note.created_date.strftime('%b %d - %I:%M%p')}} Note: {{note.text}} <span style="{{style}}">({{note.classifier.value}})</span></li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>

  </body>
</html>
